:root {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	background-color: #f3f3f3;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='1440' preserveAspectRatio='none' viewBox='0 0 1440 1440'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1005%26quot%3b)' fill='none'%3e%3cpath d='M1536 1440L0 1440 L0 889.31Q51.78 821.09%2c 120 872.87Q108.53 741.4%2c 240 729.94Q346.13 716.07%2c 360 822.19Q390.17 780.36%2c 432 810.53Q451.05 757.58%2c 504 776.62Q519.06 719.68%2c 576 734.74Q605.77 692.51%2c 648 722.29Q703.24 705.52%2c 720 760.76Q858.65 779.41%2c 840 918.07Q923.59 881.66%2c 960 965.26Q963.06 896.32%2c 1032 899.37Q1024.08 771.44%2c 1152 763.52Q1286.36 825.88%2c 1224 960.24Q1169.61 833.85%2c 1296 779.45Q1329.14 692.59%2c 1416 725.73Q1493.04 682.77%2c 1536 759.81z' fill='%23182f5d'%3e%3c/path%3e%3cpath d='M1464 1440L0 1440 L0 914.49Q177.95 972.44%2c 120 1150.39Q110.27 1068.66%2c 192 1058.94Q215.23 962.17%2c 312 985.4Q320.46 921.86%2c 384 930.32Q426.52 900.85%2c 456 943.37Q548.5 963.88%2c 528 1056.38Q597.82 1006.2%2c 648 1076.02Q655.9 963.92%2c 768 971.82Q792.07 923.89%2c 840 947.96Q889.98 877.94%2c 960 927.92Q1050.78 898.7%2c 1080 989.48Q1134 971.48%2c 1152 1025.48Q1168.66 922.14%2c 1272 938.81Q1339.47 886.27%2c 1392 953.74Q1410.75 900.49%2c 1464 919.24z' fill='%2325467d'%3e%3c/path%3e%3cpath d='M1488 1440L0 1440 L0 1201.39Q102.61 1184.01%2c 120 1286.62Q150.18 1244.8%2c 192 1274.97Q177.71 1140.68%2c 312 1126.4Q325.32 1067.72%2c 384 1081.04Q427.59 1052.63%2c 456 1096.21Q529.07 1097.28%2c 528 1170.34Q640.64 1162.98%2c 648 1275.62Q691.6 1199.22%2c 768 1242.82Q766.36 1121.17%2c 888 1119.53Q908.46 1067.99%2c 960 1088.44Q1047.87 1056.31%2c 1080 1144.18Q1226.13 1170.31%2c 1200 1316.44Q1140.96 1185.4%2c 1272 1126.36Q1293.29 1075.65%2c 1344 1096.94Q1414.38 1095.33%2c 1416 1165.71Q1457.86 1135.57%2c 1488 1177.42z' fill='%23356cb1'%3e%3c/path%3e%3cpath d='M1488 1440L0 1440 L0 1347.69Q27.2 1302.89%2c 72 1330.1Q122.93 1309.03%2c 144 1359.97Q172.41 1268.38%2c 264 1296.8Q335.32 1248.12%2c 384 1319.43Q457.7 1321.13%2c 456 1394.83Q514.57 1381.39%2c 528 1439.96Q586.32 1426.28%2c 600 1484.59Q617.44 1382.03%2c 720 1399.47Q715.55 1323.02%2c 792 1318.57Q836.77 1243.34%2c 912 1288.12Q973 1277.12%2c 984 1338.12Q1064.28 1346.39%2c 1056 1426.67Q1148.03 1398.7%2c 1176 1490.73Q1177.62 1372.35%2c 1296 1373.96Q1315.96 1273.92%2c 1416 1293.88Q1437.86 1243.74%2c 1488 1265.61z' fill='white'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1005'%3e%3crect width='1440' height='1440' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
}
a {
	text-decoration: none;
	color: inherit;
	cursor: pointer;
}
.container-for-everything {
	max-width: 70%;
	margin-left: auto;
	margin-right: auto;
	padding-left: 10px;
	padding-right: 10px;
	min-height: 650px;
	line-height: 1.25;
	font-size: 16px;
	border-radius: 25px;
	box-shadow: 0px 35px 45px 5px black;
}
article {
	padding: 10px;
}
.slider-holder {
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;
	padding-left: 20px;
	padding-right: 20px;
}
